:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
}

.doughnut-chart {
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}