:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 4rem;
}

.portfolio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.doughnut-chart {
  height: 80vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}