* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27, 4, 70, 0.95);
    padding: 0.5rem 2rem;
    height: 8vh;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: rgba(27, 4, 70, 1);
}

.logo {
    width: 3rem;
    height: 3rem;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.option {
    padding: 0.75rem 1.25rem;
    margin: 0 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
    border-radius: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option:hover {
    background-color: rgba(43, 4, 117, 0.75);
    transform: scale(1.05);
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.sign-in {
    display: flex;
    align-items: center;
}

.sign-in button {
    padding: 0.75rem 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 1.5rem;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#sign-in {
    background-color: rgba(66, 8, 175, 0.9);
}

#sign-in:hover {
    background-color: rgba(66, 8, 175, 1);
    transform: scale(1.05);
}

#login {
    background-color: rgba(255, 217, 0, 0.75);
    color: rgba(27, 4, 70, 0.95);
}

#login:hover {
    background-color: rgba(255, 217, 0, 0.95);
    transform: scale(1.05);
}

#logout {
    background-color: rgba(255, 0, 0, 0.75);
}

#logout:hover {
    background-color: rgba(255, 0, 0, 0.9);
    transform: scale(1.05);
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin-left: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links.open {
    display: block;
    position: absolute;
    top: 8vh;
    left: 0;
    right: 0;
    background-color: rgba(27, 4, 70, 0.95);
    text-align: center;
    z-index: 1;
}

.nav-links.open li {
    margin: 1rem 0;
}

@media (max-width: 850px) {
    .navbar ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .sign-in {
        display: none;
    }
}
