.banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/wallpaper.jpg);
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: right;
  align-items: center; 
  padding-right: 3rem;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}

.banner-container h1 {
  color: white;
  font-size: 8rem;
  overflow: hidden;
  border-right: .1em solid gold;
  white-space: nowrap; 
  letter-spacing: 0.75rem;
  margin: 0;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease;
}

.banner-container h1:hover {
  transform: scale(1.05);
}

.banner-container h2 {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  margin: 0 0.5rem;
}

.color-text {
  color: gold;
}

/* Responsive styling */
@media (max-width: 1200px) {
  .banner-container h1 {
    font-size: 6rem;
    letter-spacing: 0.6rem;
  }

  .banner-container h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .banner-container h1 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }

  .banner-container h2 {
    font-size: 1.25rem;
  }

  .banner-container {
    padding-right: 2rem;
  }
}

@media (max-width: 670px) {
  .banner-container h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }

  .banner-container h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .banner-container {
    padding-right: 1rem;
  }
}
