.tabs-container {
    margin: 0;
    padding: 10px;
    background-color: white;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(66, 8, 175, 0.05);
    padding: 20px;
    margin: 5px;
}

.tab-container span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-container img {
    width: 50px;
    height: 50px;
}

.tab-container a {
    color: black;
    width: 10vw;
    font-size: 1.25rem;
}

.tab-container.header {
    margin: 0;
    background-color: rgba(66, 8, 175, 0.15);
}

#percent-change-dropdown {
    font-size: 1.25rem;
    padding: 0.25rem;
    margin-left: -1rem;
    border-radius: 1rem;
    border: none;
}